
/*Html*/
/* ::-webkit-scrollbar{
     width: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background:grey;
    border-radius: 3px;
} */

/* Body */
body{
    margin: 0;
}

body a{
    text-decoration: none;
}


/**
Contenedor principal (el que le da tamaño a todos)
*/
.content-box{
    position: relative;
    height: 40rem;
    width: 100%;
} 
/**
Contenedor para montar una imagen completa
*/
.box-full-image {
    position: absolute;
    height: 100%;
    width: 100%;
}

.box-full-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**
Contenedor para el texto centrado en la imagen principal
con todos los ajustes de tamaño y movimiento de elemento
incluido el boton y su color
*/
.box-text-center{
    position: relative;
    transform:translateY(-50%);
    top:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box-text-center span{
    font-weight: bold;

}

.box-text-center p{
    font-size: 4rem;
    color: #777576;

}

.box-text-center a{
    width: 15rem;
    text-align: center;
    background-color: #ec5483;
    color: #fff;
    font-size: 2.2rem;
    padding: 0.3rem;
    border-radius: 3rem;
}

a{
    text-decoration: none;
}

/**
Iconos 
*/
.icon{
    position: relative;
    width: 5em;
    height: 5em;
}

.icon::before{
    content: "";
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}

.icon.reload::before{
    content: "";
    background-image: url(../../img/reloading.png);
}


.icon.clock::before {
    content: "";
    background-image: url(../../img/clock.png);
}

.icon.paper::before{
    content: "";
    background-image: url(../../img/reporticon.png);
}

.icon.face-1::before{
    content: "";
    background-image: url(../../img/facemen.jpeg);
    border-radius: 3rem;
}

.icon.face-2::before{
    content: "";
    background-image: url(../../img/facewomen.jpeg);
    border-radius: 3rem;
}

/**
Separa los elementos con in display flex y los mantiene centrados 
*/
.separador-row{
    position: relative; 
    display: flex;
    flex-direction: row;
    padding: 8rem 0 0 0;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

/**
Forma de item 1 dentro de los separadores con sus propias modificaciones.
*/
.item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    font-size: 1rem;
    line-height: 2rem;
}

.item-box p{
    text-align: center;
    margin: 15px 0px 0px 0px;
    padding: 0px 15px;
    height: 10em;
    overflow: scroll;
    color: #8d8d8d;
}

.item-box span{
    font-weight: bold;
    text-transform: capitalize;
}

.item-box a{
    text-transform: uppercase;
    color: #686666;
}

/**
Forma de item 2 dentro de os separadores con sus propias modificaciones.
*/
.item-box-2{
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 15rem;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0rem 2rem;
    border-color: #e8e8e8;
    margin-bottom: 10px;
}
.separador-row.backgroud-grey{
    background-color: #fcfcfc;
}

.item-box-2 p{
    text-align: center;
    margin-top: 15px;
    padding: 0px 15px;
    height: 10em;
    overflow: scroll;
    color: #8d8d8d;
}

.separador-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

/**
Footer
*/

footer{
    position: relative;
    background-color: #38404b;
    height: 25rem;
    width: 100%;
    color: #fff;

}
.footer-tittle{
    padding: 3rem 3rem 1rem 3rem;
    font-size: 3rem;
}
footer div{
    width: 50%;
    margin: auto;
}

footer p{
    text-align: center;
    margin-bottom: 0px;
}

.footer-row{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.footer-row a{
    color: #919cae;
    text-transform: capitalize;
}

.footer-reserved{
    margin-top: 0%;
    font-size: 0.8rem;
    color: #98a4b5;
}

.footer-reserved a{
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;

}